<link rel="stylesheet" href="/css/style.css">

<article>
    <h2>The Value of Money</h2>
    <div class="parent row ref">
        
        <div class="child image">
            <figure>
                
                <div class="figure-container">
                    <img src="../img/money.jpg" alt="" class="figure-img">
                <figcaption>The Real Value of Money</figcaption>
                </div>
            </figure>
        </div>

        <p class="child content">
            Money is a touchy subject. That’s because most of us, to a certain degree, associate a lot of our self-worth and identity to our job and how much money we make. It is, quite literally, a market valuation of our skills and competence as a person, and therefore we all get a little bit testy and scooch around uncomfortably in our chairs whenever money is brought up.
            <br><br>
            But money is merely an arbitrary store of value. It is not value itself.
    
            There are many stores of value in life. Time is a form of value. Knowledge is a form of value. Happiness and other positive emotions are a form of value. Money is often just the vehicle of interchanging these various forms of value with one another.
        </p>
    </div>

</article>

<hr>

<h2>GMO food</h2>
<div class="parent row ref">
    <div class="child image">
        <figure>
        
            <div class="figure-container">
                <img src="../img/food.jpg" alt="" class="figure-img">
                <figcaption>World Health Organization on GMO Food</figcaption>
            </div>
        </figure>
    </div>

    <p class="child content">
        Genetically modified (GM) foods are foods derived from organisms whose genetic material (DNA) has been modified in a way that does not occur naturally, e.g. through the introduction of a gene from a different organism. The technology is often called “modern biotechnology” or “gene technology”, sometimes also “recombinant DNA technology” or “genetic engineering”. Currently available GM foods stem mostly from plants, but in the future foods derived from GM microorganisms or GM animals are likely to be introduced on the market. Most existing genetically modified crops have been developed to improve yield through the introduction of resistance to plant diseases or of increased tolerance of herbicides. GM foods can also allow for reductions in food prices through improved yields and reliability.
        <br><br>
        In the future, genetic modification could be aimed at altering the nutrient content of food, reducing its allergenic potential or improving the efficiency of food production systems. All GM foods should be assessed before being allowed on the market. FAO/WHO Codex guidelines exist for risk analysis of GM food. 
    </p>
</div>

<hr>


<h2>The View of World in 2100</h2>
<div class="parent row ref">
    <div class="child image">
        <figure>
        
            <div class="figure-container">
                <img src="../img/climate.jpeg" alt="" class="figure-img">
                <figcaption>By 2100 world will be hotter, with more extreme weather</figcaption>
            </div>
        </figure>
    </div>

    <p class="child content">
        The world in 2100 will be hotter, with more extreme weather and more natural disasters such as hurricanes and wildfires. How much hotter? It is impossible to know right now, as it will depend on our actions during the next 80 years.

        There are different scenarios, from the world being 1.5ºC to 5ºC hotter by 2100. There is a big difference between these two extremes, but note that even if we reduced all our carbon emissions to zero today, the world would still keep warming for decades due to all the extra carbon dioxide already in the atmosphere. 

        Our best-case scenario is a 1.5ºC increase (although some experts believe we will reach this already by 2030), which doesn’t seem much, but it is huge. Even with this best-case scenario, the sea levels will rise around 1 meter, displacing millions of people and forcing us to invest trillions of dollars to make our coastal cities and towns habitable.
    </p>
</div>
