<link rel="stylesheet" href="/css/lightbox.min.css">

<link rel="stylesheet" href="/css/style.css">


<h2>Portfolio</h2>
<div class="portfolio">

    
    <div class="card">
        <a href="#" data-lightbox="portfolio" data-title="">
            <img src="../img/1.png" alt="store" class="img-wrap"></a>
        <div class="card-container">
            <h3>Brandheroes - Web Design</h3>
        </div>

    </div>

    <div class="card">
        <a href="#" data-lightbox="portfolio" data-title="" class="center">
            <img src="../img/2.png" alt="corporate" class="img-wrap"></a>
        <div class="card-container">
            <h3>iPhone Shots - Photography</h3>
        </div>

    </div>

    <div class="card">
        <a href="#" data-lightbox="portfolio" data-title="">
            <img src="../img/3.png" alt="agency" class="img-wrap"></a>
        <div class="card-container">
            <h3>Go Vegan - Poster</h3>
            
        </div>

    </div>

    <div class="card">
        <a href="#" data-lightbox="portfolio" data-title="">
            <img src="../img/4.png" alt="agency" class="img-wrap"></a>
        <div class="card-container">
            <h3>ThePit - UI/UX Design</h3>
            
        </div>

    </div>

    <div class="card">
        <a href="#" data-lightbox="portfolio" data-title="">
            <img src="../img/5.png" alt="agency" class="img-wrap"></a>
        <div class="card-container">
            <h3>Grab Coffee - UI Design</h3>
        
        </div>

    </div>

    <div class="card">
        <a href="#" data-lightbox="portfolio" data-title="">
            <img src="../img/6.png" alt="explainer" class="img-wrap"></a>
        <div class="card-container">
            <h3>Index Store - Mobile App</h3>
            
        </div>

    </div>

</div>
